
@import 'compass';
@import 'compass/reset';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  background: url(asset_path("back.jpg")) no-repeat right bottom fixed;
  background-size: cover;
  line-height: 1.6;
  font-size: 14px;
}

.wrapper {
  display: block;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  padding: 32px 0;
  text-align: center;
}

iframe {
    margin: 0 !important;
    opacity: .9;
}

.api-info {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  margin-top: 32px;
  padding: 16px;
  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
