
@import 'compass';
@import 'compass/reset';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  background: url(asset_path("back.jpg")) no-repeat right bottom;
  background-size: cover;
}
.wrapper {
  display: block;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  padding: 32px 0;
  text-align: center;
}

iframe {
    margin: 0 !important;
    opacity: .9;
}
